@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  
  font-family: "Poppins", sans-serif;
}

.containerx {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #175750;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: #175750;
}
.swiper-pagination-bullet-active {
  background-color: #175750;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}



body {
  font-family: "Montserrat";
  text-align: center;
  max-height: 100vh;
  overflow-y: auto;

}



h1, h2, h3, h4, h6 {
  font-family: "manrope", sans-serif;
}

h4 {
color: #000;
font-size: 20px;
font-family: "manrope", sans-serif;
}

span{
  color: #175750;
}

p {
  color: #fff;
}

.text-p {
   color: #175750;
   font-size: 14px;  
   

}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
   

/* Headings */

.big-heading {
  font-family: 'Syne', san-serif;
  font-size: 4rem;
  line-height: 1.3;  
  color: #000;
}

.section-heading {
  margin-buttom: 30px;
  font-size: 3rem;
  line-height: 1;
}

.rowx {
  margin-top:10%;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #175750;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-toggler {
  border-color: #333;
  background-color: #175750;;
}


.navbar-brand {
 margin: 0;
 padding: 0;
}

.navbar-brand img{
 width: 120px;
 height: 100px;
 margin: 10px 0;
}




.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Syne', san-serif;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-image: url('images/header2.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  color: #fff;
  text-align: left;
  height:100vh;
   
}

.social-icons a{
 color: #175750;
 margin-right: 10px;
} 

.social-icons {
 margin-top: 20px;
} 

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* About */



/* services Section */

#services {
  position: relative;
}

.services-title {
  font-size: 1.5rem;
  margin-top: 30px;
}

.services-box {
  padding: 4.5%;
}

.icon {
  color: #242424;
  margin-bottom: 1rem; 
}

.icon:hover {
  color: #CB8026;
}



/* Projects Section */

#projects {
  padding: 100px;
 
}

a {
  text-decoration: none !important;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
 
.pricing-column {
  padding: 3% 2%;
}

p.card-text {
  color: #000;
}

/* Contact Scetion */

div.phone.details {
  color: #175750;

}

div.email.details {
  color: #175750;

}

.container{
  width: 85%;

  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details{
  margin: 14px;
  text-align: center;
}

.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}

iframe {
height: 500px;
  width: 100%;
  margin: 12px 0;
}


/* Footer Section */
.social-icon a {
  color: #175750;
} 

.social-icon {
  margin: 20px 10px;
}

p.copy-text {
  color: #000;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
}

@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  
  .container .content{
    flex-direction: column-reverse;
  }
  
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
  
 .container .content .left-side::before{
   display: none;
 }
}


@media (max-width: 1028px) {
  #title {  
  text-align: left;
  height:680px;
  }
  

  }
}
